/* Ensure the body elements don't add default margins or background colors */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

/* Keeps the code line raw, un-wrapped, and scrollable if the screen gets too tight */
pre {
  white-space: pre;
  word-wrap: normal;
}